.eventCard {
    padding: 20px;
    display: flex;
    width: 800px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

.cardimg {
    margin-right: 20px;
}
.btnevent {
    padding: 5px 15px;
    margin-left: auto;
    float: right;
}
